/* Common styles */
@import url('./reset.css');

body {
  font-family: 'Montserrat';
  color: #2e2f42;
  background-color: rgb(238, 238, 250);
}

.form-search {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 36px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.input-search {
  width: 272px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #808080;
  outline: transparent;
  border-radius: 4px;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-search:hover {
  border-color: #4e75ff;
}

.input-search:focus,
.input-search:focus-visible {
  border-color: #4e75ff;
}

.button-search {
  width: 91px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4e75ff;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-search:hover,
.button-search:focus {
  background-color: #6c8cff;
}

.loader {
  font-size: 48px;
  color: dimgray;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}

.loader:after {
  content: 'Loading';
  position: relative;
  z-index: 5;
}

.loader:before {
  content: '';
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#ff3d00 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}

.gallery {
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 25px;
}

.img-item {
  border: 1px solid #808080;
  border-radius: 3px;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(235, 232, 227);
}

.img-item:hover,
.img-item:focus {
  transform: scale(1.04);
}

.list-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title-img {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.text-info {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.load-more {
  display: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #4e75ff;
  padding: 8px 16px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 4px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  background-color: #6c8cff;
}